<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company name</th>
      <th scope="col">Country</th>
      <th scope="col">Currency</th>
      <th scope="col">Weburl</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td (click)="OnClick()">{{ company?.name }}</td>
      <td>{{ company?.country }}</td>
      <td>{{ company?.currency }}</td>
      <td>{{ company?.weburl }}</td>
    </tr>
  </tbody>
</table>

<app-stock-history *ngIf="showStocks"></app-stock-history>
